name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Check Out Repo
        run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

      - uses: docker/login-action@v1
      - name: Login to Docker Hub    
        with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - uses: docker/setup-buildx-action@v1
      - name: Set up Docker Buildx
        id: buildx

      - uses: docker/build-push-action@v2
      - name: Build and push
        id: docker_build  
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_IMAGE_NAME }}:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
